* {
    font-family: 'Cambria Math', serif;
}

.modal-overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    padding: 24px;
}

.modal-overlay-light {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    padding: 24px;
}

.modal-content-dark {
    max-width: 600px;
    /* border: 2px solid red; */
    top: 60px;
    width: 100%;
    background-color: '#191B1F';
    padding: 24px;
    border-radius: 8px;
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
}

.modal-content-light {
    max-width: 600px;
    /* border: 2px solid red; */
    top: 60px;
    width: 100%;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
}

.close-button-light {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #333;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-button-dark {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #333;
    background: transparent;
    border: none;
    cursor: pointer;
}

.error_message {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
}

.button-dark {
    background-color: #e22a90;
    font-family: 'Cambria Math';
}

.button-light {
    background-color: #3c5ba4;
    font-family: 'Cambria Math';
}

.button-dark:hover {
    background-color: #8f195a;
    font-family: 'Cambria Math';
}

.button-light:hover {
    background-color: #2d4888;
    font-family: 'Cambria Math';
}
