.switch_parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch_wrapper {
    border: 1px solid rgb(141, 141, 138);
    position: relative;
    border-radius: 10px;
}

[type='radio'] {
    position: absolute;
    left: -9999px;
}

.switch_button {
    background-color: transparent;
    border: none;
    outline: none;
}

.switch_item {
    padding-left: 12px;
}

label {
    position: relative;
    z-index: 2;
    min-width: 100px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    padding: 1rem 2rem;
    transition: 0.3s;
    font-weight: 200;
    font-size: large;
}

label:hover {
    color: #e22a90;
}

.highlighter {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(50% - 8px);
    height: calc(100% - 16px);
    border-radius: 8px;
    background: #e22a90;
    transition: 0.3s;
    z-index: 1;
}

.grid_container {
    /* border: 2px solid red; */
    margin-top: 20px;
}

.price_title,
.price_amount,
.price_description,
.button_click,
ul li {
    font-family: 'Cambria Math', serif;
}

.card_selection:hover .button_click {
    background-color: #e22a90;
    color: #191a28;
}

.card_content {
    /* border: 2px solid red; */
    height: 600px;
    position: relative;
}

.card_selection:hover .card_content {
    border: 0.5px solid #e22a90;
    box-sizing: border-box;
}

.price_title {
    color: #e22a90;
    font-size: 32px;
    font-weight: lighter;
}

.price_amount {
    font-size: 32px;
}

.price_description {
    font-size: 18px;
    margin-bottom: 20px;
}

.button_click {
    background-color: #191a28;
    font-size: 18px;
    margin-bottom: 20px;
}

.list_features {
    /* border: 2px solid red; */
    list-style-type: none;
    font-size: 18px;
    margin: 18px 0px 0px -10px;
}

.list_features::before {
    /* border: 2px solid yellow; */
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="grey" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.72 7.28l-6 6a.997.997 0 0 1-1.41 0l-3-3a.996.996 0 1 1 1.41-1.41l2.3 2.29 5.3-5.29a.996.996 0 1 1 1.41 1.41z"/></svg>');
    position: absolute;
    left: 20px;
    margin-top: -4px;
    transition: filter 0.3s ease;
}

.card_selection:hover .list_features::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="%23e22a90" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.72 7.28l-6 6a.997.997 0 0 1-1.41 0l-3-3a.996.996 0 1 1 1.41-1.41l2.3 2.29 5.3-5.29a.996.996 0 1 1 1.41 1.41z"/></svg>');
}
