/* .table-dark-mode {
    background-color: #191b1f;
    color: white;
}

.table-light-mode {
    background-color: #ffffff;
    color: black;
}

.typography-expiry-dark {
    color: white;
}

.typography-expiry-light {
    color: black;
} */

.edit-dark,
.edit-light {
    cursor: pointer;
}

.edit-light:hover {
    color: #3c5ba4;
}
.edit-dark:hover {
    color: #e22a90;
}
